[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FEFFFB;
}

.container {
    width: 400px;
    height: 700px;
    margin: 0 auto;
    background: #FEFFFB;
    padding: 20px;
    box-shadow: 0 0 10px black;
    position: relative;
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
    margin-top: 10px;
}

.meat-category {
    margin: 20px 0;
}

.meat-category h2 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3C4C24;
}

.subsection {
    display: flex;
    justify-content: space-around;
}

.meat-item {
    text-align: center;
}

.meat-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.return-button {
    text-decoration: none;
    color: white;
    background-color: #3C4C24;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.return-button:hover {
    background-color: #5A6D36;
}
